{
  "v": 2,
  "uuid": "{{UUID}}",
  "owner": "00000000-0000-0000-0000-000000000000",
  "name": "ziploader",
  "version": "{{VERSION}}",
  "public": false,
  "type": "other",
  "os": "other",
  "files": [
    {
      "sha1": "{{SHA1}}",
      "size": {{SIZE}},
      "compression": "none"
    }
  ],
  "description": "Send Triton traces to Zipkin",
  "tags": {
    "buildstamp": "{{BUILDSTAMP}}"
  }
}
